<!-- ************************ -->
<!-- VIEW USER PROFILE -->
<!-- *********************** -->
<div class="view-detail" ng-controller="customerProfileCtrl">
    <div class="content-header">
        <!--     <div ui-sref="homepage.job-history" class="back-btn pull-left" title="Back to Job history">
            <img src="images/Buttons/arrow-back.png" alt="Back ot job history" > Job History
        </div> -->
        <div ui-sref="homepage.customers" class="back-btn pull-left">
            <img src="images/Buttons/arrow-back.png" alt="Back to customers" >Customers</div>
        <div class="name text-center">
           {{customer.external_user_identifiers[0].username}}  
        </div>
    </div>
    <div class="scroll-div" ng-style="style()" resize>
        <div class="profile">
            <div class="picture pull-left"
            ng-style="{'background-image': 'url(' + customer.external_user_identifiers[0].image_uri + ')'}">
          <!--   <img src="{{customer.external_user_identifiers[0].image_uri}}"> -->
            </div>
            <div class="details">
                <button type="button" name="button" class="btn btn-purple" ng-if="!customer.isban" ng-click="banUser()">BAN</button>
                   <button type="button" name="button" class="btn btn-purple" ng-if="customer.isban" ng-click="unBanUser()">UNBAN</button>
                <button type="button" name="button" class="btn btn-purple pull-right">EDIT</button>
                <div class="clearfix">
                </div>
                <div class="contact">
                    <div>
                        <img src="images/icons/phone-icon-big-30x30.png">
                    </div><span >{{customer.phone | tel}}  </span>  <span ng-if="!customer.phone">{{customer.phone | tel}} </span>  
                    <span ng-show="customer.phone" class="glyphicon glyphicon-envelope send-message pull-right" ng-click="MessageCustomer(customer.phone, customer.country_code, customer._id)"> </span>
                </div>
                <div class="contact">
                    <div>
                        <img src="images/icons/facebook-icon-big-30x30.png">
                    </div> <a href="http://www.facebook.com/{{customer.external_user_identifiers[0].external_user_id}}"> {{customer.external_user_identifiers[0].external_user_id}} </a>
                  
                </div>
                <div class="contact">
                    <div title="{{customer.email}}">
                        <img src="images/icons/mail-icon-big-30x30.png">
                    </div>{{customer.external_user_identifiers[0].email | limitTo: 17 | lowercase}}
                </div>

                <div class="rating">
                    RATING
                    <div class="cumulative-rating" ng-show="customer.rating.STAR_1 || customer.rating.STAR_2 || customer.rating.STAR_3 || customer.rating.STAR_4 || customer.rating.STAR_5">
                        Average   {{((customer.rating.STAR_1) * 1 + (customer.rating.STAR_2) * 2 + (customer.rating.STAR_3) * 3 + (customer.rating.STAR_4) * 4 + (customer.rating.STAR_5) * 5) / ((customer.rating.STAR_1) + (customer.rating.STAR_2) + (customer.rating.STAR_3) + (customer.rating.STAR_4) + (customer.rating.STAR_5)) | limitTo: 3}}
                    </div>
                    <table>
                        <tr ng-repeat='items in customer.rating track by $index'>
                            <td>
                                <div class="stars">
                                    <span ng-repeat='item in getNumber($index+1) track by $index'>
                  <img src="images/icons/fill-star-small.png" alt=""  >
                </span>
                                    <span ng-repeat='item in getNumber(4-$index)  track by $index '>
                  <img src="images/icons/star-no-fill-small.png" alt=""  >
                </span>
                                </div>
                            </td>
                         <!--    <td>
                                93%
                            </td> -->
                            <td class="text-right">
                                 {{items}} Review
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="job-history">
            <div class="title">
                Job History
            </div>
            
            <h4 ng-show="noData">It seems there is no job assigned yet.</h4>

            <div ng-hide="noData" class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID </th>
                            <th>Genio</th>
                            <th>Service Type</th>
                            <th>Date</th>
                            <th>Job Status</th>
                            <th>Payment Status</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="record" ng-repeat="job in CustomerJobsHistory">
                            <td><a ui-sref="homepage.job-detail({jobId:job._id})" >{{job._id | uppercase}} </a></td>
                            <td>{{job.user_name}}</td>
                            <td>{{job.skillname}}</td>
                            <td>{{job.created | date:"h:mma MM.dd.yyyy"}}</td>
                            <td>{{job.status}}</td>
                            <td>
                                <p ng-show = "job.status == 'JOB-DONE' && job.status == 'BILLING'">PAYMENT INITIATED</p>
                                <p ng-show = "job.status == 'JOB-COMPLETED'">PAYMENT SUCCESSFULL</p>
                                <p ng-show = "job.status == 'TRANSACTION-FAILED'">PAYMENT FAILED</p>
                                <p ng-show = "job.status != 'JOB-DONE' && job.status != 'BILLING' && job.status != 'TRANSACTION-FAILED' && job.status != 'JOB-COMPLETED'">NO PAYMENT</p>
                            </td>
                            <td>{{job.invoice[2].billTotal | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <uib-pagination total-items="totalItems" ng-model="currentPage"  ng-hide="noData" ng-change="pageChange()" max-size="maxSize" class="pagination-md" boundary-links="true" rotate="false"></uib-pagination>
            </div>
            
        </div>
<!--         <div class="skills">
            <div class="title">
                Skills
            </div>
            <span class="tags" ng-repeat='skill in customer.skills'>{{skill.name}}</span>
        </div> -->
      <!--   <div class="title">
            Order History <span>&#8250;</span>
        </div>
        <h3>No Orders made yet</h3> -->
        <!-- <div class="job-history">
  <table>
<thead>
  <th>
    Order
  </th>
  <th>
    Date
  </th>
  <th>
    Customer
  </th>
  <th>
    Customer
  </th>
  <th>
    Location
  </th>
  <th>
    Rate
  </th>
</thead>
<tbody>
  <tr>
    <td>
    No power at home
    </td>
    <td >
      03.04.2015
    </td>
    <td>

    </td>
    <td>
    New York,
    Chamber St.
    </td>
    <td>
    <img src="images/icons/star-no-rate.png" alt="" >
    </td>
  </tr>
</tbody>
  </table>
</div> -->

      <!--   <div class="title">
            Reviews <span>&#8250;</span>
        </div>
        <h3>No reviews yet</h3> -->
    </div>

</div>

<!-- Sending message to customer-->
<script type="text/ng-template" id="MessageCustomer.html">
    <div class="modal-header add-expert">
        <h3 class="modal-title">Send Message</h3>
        <span></span>
        <hr>
    </div>
    <div class="modal-body">
        <div class="add-expert">
            <!-- <div class="alert alert-success alert-dismissible" role="alert" ng-show="addedGenie">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> "{{name | uppercase}}" has been added successfully.
            </div> -->
            <div>
            </div>
            <form class="text-center" name="msgCustomer" role="form" novalidate>
               
                <div class="form-group">
                    <label for="expert-address">Write your message here..<sup>*</sup></label>
                    <textarea rows="5" cols="78" ng-model="text" required></textarea>
                </div>
               
                
                <button type="submit" class="btn btn-purple pull-left" ng-click="cancel()">Cancel</a>
                <button type="submit" ng-disabled="msgCustomer.$invalid" class="btn btn-purple pull-right" ng-click="sendSMSCustomer()">Send</button>
                
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</script>
<!-- Sending message to customer end-->
