/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #f2f2f2;
    color: #9b9b9b;
    font-family: 'source_sans_proregular';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #686868;
	&:hover {
		text-decoration: underline;
	}
}
p {
	font-family: 'source_sans_prolight';
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
}
select {
	width: 150px;
}
btn:hover, .btn:focus, .btn.focus {
    outline: 0 !important;
}
// input[type="text"], input[type="password"], input[type="email"] {
// 	display: block;
// 	margin: 0;
// 	padding: 0;
// 	border: none;
// 	font-size: 16px;
//     letter-spacing: 1px;
//     margin: 6px 0 24px 0;
//     padding: 5px 0;
//     outline: none;
//     font-family: 'source_sans_proregular';
// }
// input[type="submit"] {
// 	outline: none;
// 	font-family: 'source_sans_proregular';
// 	font-size: 14px;
// }
.fleft {float: left!important;}
.fright {float: right!important;}
.w50 {width: 50%!important;}
.pleft10 {padding-left: 10px;}
.mbottom10 {margin-bottom: 10px;}


/*----------------
PLACEHOLDER OPACITY
----------------*/

::-webkit-input-placeholder {
    
    opacity: .4 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    opacity: .4 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
     opacity: .4 !important;
}

:-ms-input-placeholder {  
  opacity: .4 !important;
   }

/*----------------
Styles by Selva Sajin
----------------*/

/*Side menu counter*/
.vnav-counter {
  float: right;
  margin-top: 8px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 11px;
  color:#FFFFFF;
  background: #66BB6A;
  border-radius: 9px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

