



@font-face {
    font-family: 'mullerregular_2';
    src: url('../fonts/muller-regular2-webfont.eot');
    src: url('../fonts/muller-regular2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular2-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular2-webfont.woff') format('woff'),
         url('../fonts/muller-regular2-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular2-webfont.svg#mullerregular_2') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_3';
    src: url('../fonts/muller-regular3-webfont.eot');
    src: url('../fonts/muller-regular3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular3-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular3-webfont.woff') format('woff'),
         url('../fonts/muller-regular3-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular3-webfont.svg#mullerregular_3') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_4';
    src: url('../fonts/muller-regular4-webfont.eot');
    src: url('../fonts/muller-regular4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular4-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular4-webfont.woff') format('woff'),
         url('../fonts/muller-regular4-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular4-webfont.svg#mullerregular_4') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_5';
    src: url('../fonts/muller-regular5-webfont.eot');
    src: url('../fonts/muller-regular5-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular5-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular5-webfont.woff') format('woff'),
         url('../fonts/muller-regular5-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular5-webfont.svg#mullerregular_5') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_6';
    src: url('../fonts/muller-regular6-webfont.eot');
    src: url('../fonts/muller-regular6-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular6-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular6-webfont.woff') format('woff'),
         url('../fonts/muller-regular6-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular6-webfont.svg#mullerregular_6') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_7';
    src: url('../fonts/muller-regular7-webfont.eot');
    src: url('../fonts/muller-regular7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular7-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular7-webfont.woff') format('woff'),
         url('../fonts/muller-regular7-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular7-webfont.svg#mullerregular_7') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_8';
    src: url('../fonts/muller-regular8-webfont.eot');
    src: url('../fonts/muller-regular8-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular8-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular8-webfont.woff') format('woff'),
         url('../fonts/muller-regular8-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular8-webfont.svg#mullerregular_8') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_9';
    src: url('../fonts/muller-regular9-webfont.eot');
    src: url('../fonts/muller-regular9-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular9-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular9-webfont.woff') format('woff'),
         url('../fonts/muller-regular9-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular9-webfont.svg#mullerregular_9') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_10';
    src: url('../fonts/muller-regular10-webfont.eot');
    src: url('../fonts/muller-regular10-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular10-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular10-webfont.woff') format('woff'),
         url('../fonts/muller-regular10-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular10-webfont.svg#mullerregular_10') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_11';
    src: url('../fonts/muller-regular11-webfont.eot');
    src: url('../fonts/muller-regular11-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular11-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular11-webfont.woff') format('woff'),
         url('../fonts/muller-regular11-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular11-webfont.svg#mullerregular_11') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_12';
    src: url('../fonts/muller-regular12-webfont.eot');
    src: url('../fonts/muller-regular12-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular12-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular12-webfont.woff') format('woff'),
         url('../fonts/muller-regular12-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular12-webfont.svg#mullerregular_12') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_13';
    src: url('../fonts/muller-regular13-webfont.eot');
    src: url('../fonts/muller-regular13-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular13-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular13-webfont.woff') format('woff'),
         url('../fonts/muller-regular13-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular13-webfont.svg#mullerregular_13') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mullerregular_14';
    src: url('../fonts/muller-regular14-webfont.eot');
    src: url('../fonts/muller-regular14-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular14-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular14-webfont.woff') format('woff'),
         url('../fonts/muller-regular14-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular14-webfont.svg#mullerregular_14') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mullerregular_15';
    src: url('../fonts/muller-regular15-webfont.eot');
    src: url('../fonts/muller-regular15-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular15-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular15-webfont.woff') format('woff'),
         url('../fonts/muller-regular15-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular15-webfont.svg#mullerregular_15') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_16';
    src: url('../fonts/muller-regular16-webfont.eot');
    src: url('../fonts/muller-regular16-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular16-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular16-webfont.woff') format('woff'),
         url('../fonts/muller-regular16-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular16-webfont.svg#mullerregular_16') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_17';
    src: url('../fonts/muller-regular17-webfont.eot');
    src: url('../fonts/muller-regular17-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular17-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular17-webfont.woff') format('woff'),
         url('../fonts/muller-regular17-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular17-webfont.svg#mullerregular_17') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular';
    src: url('../fonts/muller-regular18-webfont.eot');
    src: url('../fonts/muller-regular18-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular18-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular18-webfont.woff') format('woff'),
         url('../fonts/muller-regular18-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular18-webfont.svg#mullerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerhairlineregular';
    src: url('../fonts/mullerhairline-regular2-webfont.eot');
    src: url('../fonts/mullerhairline-regular2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mullerhairline-regular2-webfont.woff2') format('woff2'),
         url('../fonts/mullerhairline-regular2-webfont.woff') format('woff'),
         url('../fonts/mullerhairline-regular2-webfont.ttf') format('truetype'),
         url('../fonts/mullerhairline-regular2-webfont.svg#mullerhairlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerhairlinebold';
    src: url('../fonts/mullerhairline-webfont.eot');
    src: url('../fonts/mullerhairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mullerhairline-webfont.woff2') format('woff2'),
         url('../fonts/mullerhairline-webfont.woff') format('woff'),
         url('../fonts/mullerhairline-webfont.ttf') format('truetype'),
         url('../fonts/mullerhairline-webfont.svg#mullerhairlinebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerbold';
    src: url('../fonts/mullerheavy-webfont.eot');
    src: url('../fonts/mullerheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mullerheavy-webfont.woff2') format('woff2'),
         url('../fonts/mullerheavy-webfont.woff') format('woff'),
         url('../fonts/mullerheavy-webfont.ttf') format('truetype'),
         url('../fonts/mullerheavy-webfont.svg#mullerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
