
<div class="login-bg change-pwd" ng-controller="changePasswordCtrl" >
  <div class="content-header">
  	 <div  class="row back-btn pull-left">
        &nbsp; Change Password
        </div>
  </div>
	<div class="login-container">
		
			<small><sup>*</sup>Passwords must be 8 to 10 characters long</small></br>
			<small><sup>*</sup>After the password reset you will be logged out of the page.</small>
		<form  name="passwordForm" novalidate class="text-center">
			<p>
				<label>Current Password
					<input type="password" class="form-control" name="currentpwd"  ng-model="user.currentPwd" ng-pattern="/^.{8,10}$/" autofocus="true" required/>
				</label>
			</p>
			<p>
				<label>New Password
					<input type="password" class="form-control" name="newpwd"  ng-model="user.newPwd"  ng-pattern="/^.{8,10}$/" required/>
				</label>
				
			</p>
			<p>
				<label>Confirm Password
					<input type="password" class="form-control" name="confirmpwd"  ng-model="user.confirmPwd" ng-pattern="/^.{8,10}$/" required/>
				</label>
			
			</p>
			<p>
				<label>
					<input class="btn btn-login" type="submit" name="loginbtn" ng-disabled="passwordForm.$invalid"  value="RESET PASSWORD" ng-click="resetPassword();" />
				</label>
			</p>
	
		</form>
	</div>


</div>