.dashboard {
overflow: auto;
    padding-bottom: 100px;
font-family: mullerregular_7;
    .card {
        box-shadow: 0 0 10px #B4B4B4;
        background-color: #FFF;
       
         margin-bottom: 15px;

    }
}
