<div class="login-bg">
	<div class="login-container container" ng-controller="forgotGeniePwdCtrl">
		<div class="brand-label">G E N I O</div>
		<div class="signin-label reset-pwd">Reset Password</div>
		<form  name="changePwd" novalidate class="text-center">
			<p ng-hide="successMsg">
				<label>
					<input type="password" class="form-control" placeHolder="New Password" ng-model="user.newPassword"  required/>
					<!-- ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  check pattern-->
				</label>
			</p>
			<p ng-hide="successMsg">
				<label>
					<input type="password" class="form-control" placeHolder=" Confirm Password" ng-model="user.confirmPassword" required/>
				</label>				
			</p>
			<small ng-hide="successMsg"> Password length should be within 6 to 10 characters.</small>
			<p ng-hide="successMsg">
				<label>
					<input class="btn btn-login" type="submit" ng-disabled="changePwd.$invalid"  value="Reset" ng-click="changePassword();" />
				</label>
			</p>
			
			<div class="alert alert-danger" ng-show="lengthErr">
  <strong>Error!</strong>Password should not be less than 6 and greater than 10 characters.
</div>

			<div class="alert alert-danger" ng-show="matchErr">
  <strong>Error!</strong> Passwords does not match.
</div>
			<div class="alert alert-danger" ng-show="netErr">
  <strong>Opps!</strong> Something went wrong please try again.
</div>

<div class="alert alert-success" ng-show="successMsg">
  <strong>Cool!</strong>Password reset done.
</div>
		</form>
	</div>


</div>


