<div class="login-bg">
	<div class="login-container" ng-controller="loginCtrl">
		<div class="brand-label">G E N I O</div>
		<div class="signin-label">Sign In</div>
		<form  name="login" novalidate class="text-center">
			<p>
				<label>
					<input type="text" class="form-control" id="userid" placeHolder="Admin Username" ng-model="user.email"  required/>
					<!-- ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  check pattern-->
				</label>
			</p>
			<p>
				<label>
					<input type="password" class="form-control" id="userpwd" placeHolder="Password" ng-model="user.password" required/>
				</label>
			</p>
			<p>
				<label>
					<input class="btn btn-login" type="submit" id="loginbtn" ng-disabled="login.$invalid"  value="SIGN IN" ng-click="loginFormSubmit();" />
				</label>
			</p>
			<a ng-click="showPopup()">Forgot Password?</a>
		</form>
	</div>





<!-- <div class="login-container" ng-controller="loginCtrl">
	<div class="form-container">
		<div class="logo">G E N I O</div>
		<form novalidate>
			<h5>LOG IN</h5>
			<label><input type="email" placeHolder="Email" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required/></label>
			<label><input type="password" placeHolder="Password" ng-model="user.password" /></label>
			<label>
				<a ng-click="showPopup();">Forgot Password?</a>
				<input class="button orange" type="submit" value="LOG IN" ng-click="loginFormSubmit();" />
			</label>
			<label class="status-message error-msg" ng-show="loginErrorMsg"> {{ loginErrorMsg }} </label>
		</form>
	</div> -->

<!--forgot password popup-->
<div ng-hide="!displayPopUp" class="forgot-pwd-popup-container">
		<div class="popup-form-container">
			<span class="close-popup" ng-click="closePopup();">X</span>
			<h5>FORGOT PASSWORD</h5>
			<span class="caption">Enter your email address below and we’ll send you password reset instructions</span>
			<form name="forgot" novalidate>
				<label><input type="email" placeHolder="Email" name="emailfield" ng-model="emailaddress" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required /></label>
				<label>
				<input class="button orange" type="submit" value="SUBMIT" ng-click="forgotSubmit();" /></label>
				<label class="status-message" ng-show="forgotPwdNotification"> {{ forgotPwdNotification | uppercase }} </label>
			</form>
		</div>
	</div>
</div>
